@font-face {
  font-family: 'Lora';
  src: url('/fonts/lora-regular.woff2') format('woff2'),
    url('/fonts/lora-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/lora-bold.woff2') format('woff2'),
    url('/fonts/lora-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-light.woff2') format('woff2'),
    url('/fonts/opensans-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-regular.woff2') format('woff2'),
    url('/fonts/opensans-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-semibold.woff2') format('woff2'),
    url('/fonts/opensans-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-bold.woff2') format('woff2'),
    url('/fonts/opensans-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-extrabold.woff2') format('woff2'),
    url('/fonts/opensans-extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-text-color: #686868;
  --accent-text-color: #2f70d9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
}

img {
  max-width: 100%;
  object-fit: contain;
}

button,
input[type="submit"],
input[type="button"] {
  cursor: pointer;
  outline: none;
}

.header {}

.container {}

.header__logo {}

.header__logo-img {}

.menu {}

.menu__list {}

.menu__item {}

.menu__link {}

.menu__link_active {}

.header__button {}

.header__button_callback {}

/* Позиционирование */

/* Блочная модель */

/* Типографика */

/* Оформление */

/* Анимация */

/* Разное */