@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-Regular.woff2') format('woff2'),
    url('../fonts/Lora-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-Bold.woff2') format('woff2'),
    url('../fonts/Lora-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light.woff2') format('woff2'),
    url('../fonts/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-ExtraBold.woff2') format('woff2'),
    url('../fonts/OpenSans-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-text-color: #686868;
  --accent-text-color: #2f70d9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

img {
  max-width: 100%;
  object-fit: contain;
}

button,
input[type="submit"],
input[type="button"] {
  cursor: pointer;
  outline: none;
}

.container {
  margin: 0 auto;
  max-width: 1230px;
}

.header {
  max-height: 49px;
  margin-bottom: 105px;
  padding-top: 30px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: block;
  width: 100px;
  height: 40px;
  margin-right: 209px;
}

.header__logo-img {
  width: 100%;
}

.menu {
  margin: 0;
  padding: 0;

}

.menu__list {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.menu__link {
  font-size: 18px;
  font-weight: 400;
  color: rgba(104, 104, 104, 1);
}

.menu__link:hover {
  color: #007bff;
}

.menu__link_active {
  color: var(--primary-text-color);
}

.menu__link_active::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background: url('../images/wave-nav.svg');
  background-size: 100% 100%;
  margin-top: 5px;

}

.header__button {
  padding: 8px 20px;
  font-weight: 600;
  font-size: 18px;
  border: none;
  border: 2px solid var(--accent-text-color);
  border-radius: 5px;
  background-color: #fff;
  color: var(--primary-text-color);
}

.hero {
  display: flex;
  gap: 27px;
}

.hero__content {
  padding-top: 130px;
  max-width: 497px;
}

.hero-content-top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.hero-content-bottom p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(104, 104, 104, 1);
}

.hero__decor-wave {
  margin-bottom: 2px;
  width: 39px;
  height: 3px;
}

.hero__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
}

.hero__title {
  margin-bottom: 40px;
  max-width: 497px;
  color: rgba(47, 112, 217, 1);
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 131px;
  line-height: 67px;
  letter-spacing: 4px;
}

.hero__book-button {
  padding: 17px 48px;
  width: 285px;
  height: 65px;
  font-size: 22px;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
  background: #d95845;
  color: #ffffff;
}

.hero__image {
  margin-bottom: 100px;
  width: 706px;
  height: 602px;
}

.about {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.about__content {
  position: relative;
  margin-right: 40px;
  max-width: 390px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(104, 104, 104, 1);
}

.about__content p {
  margin-bottom: 20px;
}

.about__title {
  margin-bottom: 158px;
  font-family: "Lora", serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 100%;
  color: rgba(47, 112, 217, 1);
}

.about__content--decor-wave {
  position: absolute;
  top: -3px;
  margin-left: 190px;
  width: 130px;
  height: 10px;
}

.about__decor-wave {
  width: 97px;
  height: 9px;
}

.offers {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.offers__decor-wave {
  position: absolute;
  top: 45px;
  left: 270px;
}

.section-title {
  margin-bottom: 80px;
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 3%;
  color: rgba(47, 112, 217, 1);
}

.offers__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1020px;
  column-gap: 154px;
  row-gap: 50px;
}

.offers__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 237px;
}

.offers__icon {
  margin-bottom: 20px;
  width: 65px;
  height: 65px;
}

.offers__title {
  margin-bottom: 10px;
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: rgba(47, 112, 217, 1);
}

.offers__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: rgba(104, 104, 104, 1);
}

.rooms-section {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.rooms__decor-wave {
  position: absolute;
  top: 45px;
  left: 207px;
}

.rooms-grid {
  display: flex;
  column-gap: 30px;
}

.rooms-image__left {
  padding: 80px 0;
  width: 285px;
  height: 410px;
}

.rooms-image__right {
  padding: 80px 0;
  width: 285px;
  height: 410px;
}

.rooms-card {
  padding: 40px 31px;
  width: 285px;
  height: 570px;
  border: 3px solid rgba(47, 112, 217, 1);
  border-radius: 20px;
  background: rgba(255, 255, 255, 1);
}

.rooms-icon {
  margin-bottom: 30px;
}

.rooms-card__title {
  margin-bottom: 30px;
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: rgba(47, 112, 217, 1);
}

.rooms-card__list li:first-child {
  list-style-type: none;
}

.rooms-card__list li:not(:last-child) {
  margin-bottom: 13px;
}

.rooms-card__list li:last-child {
  margin-bottom: 30px;
}

.rooms-card__list {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 3%;
  color: rgba(104, 104, 104, 1);
  list-style-type: disc;
}

.rooms-card__list li::marker {
  width: 10px;
  height: 10px;
  color: #686868;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 167px;
  height: 62px;
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: rgba(47, 112, 217, 1);
}

.slash {
  height: 25px;
  color: rgba(217, 88, 69, 1);
}

.reviews {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.reviews__decor-wave {
  position: absolute;
  top: 45px;
  left: 210px;
}

.reviews-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 24px;
  width: 285px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 1);
}

.review-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(190, 190, 190, 1);
  overflow: hidden;
}

.review-avatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.review-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-content h2 {
  margin-bottom: 30px;
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 3%;
  color: rgba(47, 112, 217, 1);
}

.review-content p {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 3%;
  color: rgba(104, 104, 104, 1);
}

time {
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 3%;
  color: rgba(104, 104, 104, 1);
}

.contacts {
  position: relative;
  padding-top: 50px;
  padding-bottom: 100px;
}

.contacts__content {
  position: absolute;
  bottom: 153px;
  left: 77px;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 355px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 1);
}

.contacts__decor-wave {
  position: absolute;
  top: 25px;
  left: 160px;
}

.contacts__title {
  margin-bottom: 25px;
}

.address span {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 5%;
  color: rgba(0, 0, 0, 1);
}

.address p {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 3%;
  color: rgba(0, 0, 0, 1);
}

.phone {
  display: inline-flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 3%;
  color: rgba(0, 0, 0, 1);
}

.socials:first-child {
  margin-right: 30px;
}

.map-container {
  max-width: 1230px;
  border-radius: 20px;
  overflow: hidden;
}

.footer {
  padding: 40px 25px;
  background-color: #282828;
  color: #ffffff;
}

.footer-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 17px;
}

.footer-logo {
  width: 180px;
  height: 45px;
}

.footer-nav__title {
  margin-bottom: 20px;
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 3%;
  color: rgba(47, 112, 217, 1);
}

.footer-nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.footer-nav__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 1);
}

.footer__quick-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__quick-contact h3 {
  margin-bottom: 20px;
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 3%;
  color: rgba(47, 112, 217, 1);
}

.btn {
  width: 210px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
  background: rgba(217, 88, 69, 1);
  color: #ffffff;
}

.btn-secondary {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  border: 2px solid rgba(47, 112, 217, 1);
  background-color: transparent;
  color: #007bff;
}

.goup-arrow {
  margin-top: 74px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
}

.footer__contacts h3 {
  margin-bottom: 20px;
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 3%;
  color: rgba(47, 112, 217, 1);
}

.footer__address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
}

.footer__address p {
  margin-top: 5px;
  margin-bottom: 15px;
}

.footer__phone {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
}

.footer__phone--mobile {
  margin-top: 5px;
  margin-bottom: 15px;
}

.social-links {
  display: flex;
  gap: 10px;
}

.social-links__img {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.copyright {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.contact-dialog {
  position: relative;
  padding: 40px 60px;
  max-width: 608px;
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 1);
}

.contact-dialog form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-dialog__decor-wave {
  position: absolute;
  top: 27px;
  right: 56px;
}

.contact-dialog__title {
  margin-bottom: 15px;
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 3%;
  color: rgba(47, 112, 217, 1);
}

.contact-dialog__text {
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: rgba(104, 104, 104, 1);
}

.name-input {
  margin-bottom: 10px;
  padding: 19px;
  width: 488px;
  height: 60px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
}

.name-input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 5%;
  color: rgba(0, 0, 0, 1);
}

.phone-input {
  margin-bottom: 10px;
  padding: 19px;
  width: 488px;
  height: 60px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
}

.phone-input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 5%;
  color: rgba(0, 0, 0, 1);
}

.comment-textarea {
  margin-bottom: 20px;
  padding: 19px;
  width: 488px;
  height: 98px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
}

.comment-textarea::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 5%;
  color: rgba(0, 0, 0, 1);
}

.contact-dialog__btn {
  padding: 17px 76px;
  width: 285px;
  height: 65px;
  font-size: 22px;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
  background: #d95845;
  color: #ffffff;
}

.confirmation-dialog {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 73px 62px;
  width: 618px;
  max-height: 500px;
  border: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.confirmation-dialog[open] {
  display: flex;
}

.success {
  text-align: center;
  border-radius: 5px;
  background-color: #ffffff;
}

.success h2 {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
  color: rgba(47, 112, 217, 1);
}

.checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

/* Позиционирование */

/* Блочная модель */

/* Типографика */

/* Оформление */

/* Анимация */

/* Разное */