@font-face {
  font-family: 'Lora';
  src: url('/fonts/lora-regular.woff2') format('woff2'),
    url('/fonts/lora-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/lora-bold.woff2') format('woff2'),
    url('/fonts/lora-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-light.woff2') format('woff2'),
    url('/fonts/opensans-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-regular.woff2') format('woff2'),
    url('/fonts/opensans-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-semibold.woff2') format('woff2'),
    url('/fonts/opensans-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-bold.woff2') format('woff2'),
    url('/fonts/opensans-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-extrabold.woff2') format('woff2'),
    url('/fonts/opensans-extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-text-color: #686868;
  --accent-text-color: #2f70d9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
}

img {
  max-width: 100%;
  object-fit: contain;
}

button,
input[type="submit"],
input[type="button"] {
  cursor: pointer;
  outline: none;
}

.container {
  margin: 0 auto;
  max-width: 1230px;
}

.header {
  max-height: 49px;
  margin-bottom: 179px;
  padding-top: 30px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: block;
  width: 100px;
  height: 40px;
  margin-right: 209px;
}

.header__logo-img {
  width: 100%;
}

.menu {
  margin: 0;
  padding: 0;

}

.menu__list {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.menu__link {
  font-size: 18px;
  font-weight: 400;
  color: rgba(104, 104, 104, 1);
}

.menu__link:hover {
  color: #007bff;
}

.menu__link_active {
  color: var(--primary-text-color);
}

.menu__link_active::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background: url('../images/wave-nav.svg');
  background-size: 100% 100%;
  margin-top: 5px;

}

.header__button {
  padding: 8px 20px;
  font-weight: 600;
  font-size: 18px;
  border: none;
  border: 2px solid var(--accent-text-color);
  border-radius: 5px;
  background-color: #fff;
  color: var(--primary-text-color);
}

.hero {
  display: flex;
  gap: 27px;
}

.hero__content {
  max-width: 497px;
}

.hero__wave {}

.hero__subtitle {
  margin: 0;
  font-weight: 700;
}

.hero__title {
  margin: 0;
  color: rgba(47, 112, 217, 1);
  font-family: "Lora", serif;
  font-size: 131px;
  font-weight: 700;
}

.hero__button {}

.hero__image {}

/* Позиционирование */

/* Блочная модель */

/* Типографика */

/* Оформление */

/* Анимация */

/* Разное */